body {
  background-color: black;
}

canvas {
  position: absolute;
  right: 18px;
  top: 20px;
}

#backlayer { background-color: white; }

#infopanel {
  position: absolute;
  left: 18px;
  top: 20px;
  background-color: rgb(225,225,225);
}

#infodiv          { font-size: small;   }
#infodiv b        { display: block;     }
#infodiv b.center { text-align: center; }
#infodiv b.blue   { color: blue;        }
#infodiv b.red    { color: red;         }
